         /*Link from Imported Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@300&display=swap');
         /*Asterisk Wildcard Selector_Box Model */
*{
    border: 0;
    margin: 0;
    padding: 0;
}
         /*Body Tag */
body{
    font-family: Montserrat, 'sans-serif'
}
         /* Header Tag */
header{
    height: 80px;
    border-bottom: 4px solid red;
}

         /* Logo ID */
#logo{
    margin-left: 24px;
    width: 151px;
    margin-bottom: -42px;
    color: red;
    font-size: 37px;
    margin-top: -7px;
    background: linear-gradient(20deg, rgb(250, 121, 0), rgba(233, 210, 3, 0.952), rgb(236, 100, 58));
    
    animation: rainbow 3s ease-in-out infinite;
    transition: color 1s ease-in-out;
    background-clip: text;
    -webkit-background-clip:text;
    
}

         /* Nav-Bar Lists */
nav, li{
    float: right;
    padding-right: 17px;
}
         /* Nav-Bar Anchor Links */
a{
    background-color: rgba(236, 100, 75, 1);
    border-radius: 34%;
    margin: -7px -4px 0 4px;
    font-size: 18px;  
}

.hero-section{
    overflow: hidden;
    position: relative;
}
   
/* Hero Image */
#hero{
    background-image: linear-gradient(88deg, rgba(246, 71, 71, 0.6), rgba(236, 100, 75, 1), rgba(240, 52, 52, 0.3));
    
}
.hero-image{
    height: 341px;
    width: 738px;
    margin-left: 499px;
    padding-left: -3px;
    border-radius: 39%;
    box-shadow: 10px -1px 0px red;
    margin-top: 15px;
    opacity: 90%;

    animation-name: hello;
    animation-duration: 2s;

}

    /* Hero Image Heading Text */

.hero-heading{
    background-image: linear-gradient(37deg, rgba(218, 223, 225, 0.9), rgba(236, 240, 241, 0.3), rgba(238, 238, 238, 0.7), rgba(236, 240, 241, 0.4), rgba(218, 223, 225, 0.2));
            position: absolute;
            top: 94px;
            left: 101px;
            height: 334px;
            width: 345px;
            padding-left: 16px;
            padding-top: 14px;
            border-radius: 6%;
            box-shadow: 1px -3px 17px white;
            
            animation-name: hello;
            animation-duration: 5s;
            animation-name: moving-text;
            animation-duration: 4s ease-in-out;
}

.outdoor-heading{
    background-color: rgba(246, 71, 71, 0.4);
    margin-top: 20px;
    margin-left: 100px;
    padding-left: 38px;
    width: 505px;
    height: 46px;
    border-bottom: 3px solid red;
    
}

.countdown-headers{
    margin-left: 100px;
 
    animation-name: hello;
    animation-duration: 5s;
    

}

#ready-head{
    border-left: 10px solid red;
    background-color: gray;
}

#ready-image{
    filter: grayscale(1);
    height: 287px;
    width: 350px;
}

#set-image{
    width: 362px;
}

.review-image{
    border-radius: 50%;
}

#review-container{
    background-color: gray;
    position: relative;
    height: 400px;
    width: 230px;
}

#left-arrow{
position: absolute;
height: 55px;
top: 170px;
left: 57px;
}

#right-arrow{
height: 51px;
right: 76px;
top: 167px;
}

#review-background{
    background-color: rgba(232, 232, 232, 1);
    border-radius: 38%;
}

#pushup{
    height: 184px;
    width: 486px;
}

#last-section{
    background-color: rgba(228, 233, 237, 1);
}

footer{
    background-color: rgba(246, 71, 71, 0.4);
}

@keyframes  hello {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

a:hover{
    background: linear-gradient(20deg, rgb(250, 121, 0), rgba(233, 210, 3, 0.952), rgb(236, 100, 58));
    
}

@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }

  #logo:hover{
    color: rgba(0,0,0,0);
}


@keyframes moving-text{
    from{
      top: 110px;
      left: -366px;
    }
    to{
        top: 110px;
        left: 121px;

    }
}