         /*Link from Imported Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@300&display=swap');
         /*Asterisk Wildcard Selector_Box Model */
*{
    border: 0;
    margin: 0;
    padding: 0;
}
         /*Body Tag */
body{
    font-family: Montserrat, 'sans-serif'
}
         /* Header Tag */
header{
    height: 80px;
    border-bottom: 4px solid red;
}

         /* Logo ID */
#logo{
    margin-left: 24px;
    width: 151px;
    margin-bottom: -42px;
    color: red;
    font-size: 37px;
    margin-top: -7px;
    background: linear-gradient(20deg, rgb(250, 121, 0), rgba(233, 210, 3, 0.952), rgb(236, 100, 58));
    
    animation: rainbow 3s ease-in-out infinite;
    transition: color 1s ease-in-out;
    background-clip: text;
    -webkit-background-clip:text;
    
}

         /* Nav-Bar Lists */
nav, li{
    float: right;
    padding-right: 17px;
}
         /* Nav-Bar Anchor Links */
a{
    background-color: rgba(236, 100, 75, 1);
    border-radius: 34%;
    margin: -7px -4px 0 4px;
    font-size: 18px;  
}

.hero-section{
    overflow: hidden;
    position: relative;
}
   
/* Hero Image */
#hero{
    background-image: linear-gradient(88deg, rgba(246, 71, 71, 0.6), rgba(236, 100, 75, 1), rgba(240, 52, 52, 0.3));
    
}
.hero-image{
    height: 341px;
    width: 738px;
    margin-left: 499px;
    padding-left: -3px;
    border-radius: 39%;
    box-shadow: 10px -1px 0px rgba(236, 100, 75, 0.7);
    margin-top: 15px;
    margin-bottom: 9px;
    opacity: 100%;

}

    /* Hero Image Heading Text */

.show-first{
            position: absolute;
            top: 94px;
            left: 12px;
            height: 63px;
            width: 566px;
            padding-left: 16px;
            padding-top: 14px;
            font-style: italic;
            color: white;
            
            animation-name: hello;
            animation-duration: 5s;
            animation-name: moving-text;
            animation-duration: 4s ease-in-out;
}

.show-later{
    position: absolute;
    color: white;
    top: 199px;
    left: 25px;
    width: 402px;
    height: 188px;
    padding-left: 8px;
    padding-top: 8px;
    border-radius: 4%;
    background: linear-gradient(23deg, rgba(218, 223, 225, 0.9), rgba(236, 240, 241, 0.3), rgba(238, 238, 238, 0.7), rgba(236, 240, 241, 0.4), rgba(218, 223, 225, 0.2));

    animation-name: second-hello;
    animation-duration: 5s;
}


#trial-container{
position: absolute;
left: 179px;
top: 330px;

animation-name: hi;
animation-duration: 15s;
}

.trial-anchor{
display: inline-block;
height: 42px;
width: 166px;
color: white;
padding-left: 13px;
padding-top: 6px;
background-color: gray;
border-radius: 10%;
border: 1px;
border: 1px solid white;

}

.outdoor-heading{
    background-color: rgba(246, 71, 71, 0.4);
    margin-top: 17px;
    margin-left: 71px;
    padding-left: 41px;
    width: 594px;
    height: 53px;
    border-bottom: 3px solid red;
    font-size: 38px;
    color: white;
    text-shadow: -1px 0px 0px red;
    font-weight: bold;
    border-top: 3px solid red;
    
}

i{
    color: red;
}

.countdown-headers{
    font-family: Audiowide, 'sans-serif';
    margin-left: 74px;
    font-size: 30px;
    text-shadow: 0 0 1px black;
 
    animation-name: hello;
    animation-duration: 5s;
    

}
#one{
    position: relative;
}
#ready-head{
    position: absolute;
    border-left: 4px solid red;
    padding-left: 12px;
    background-image: linear-gradient(24deg, rgb(109 109 109 / 40%), rgb(232 227 226 / 58%), rgb(187 187 187 / 34%), rgb(234 227 227 / 95%));
    height: 165px;
    box-shadow: 3px 1px 5px black;
    width: 217px;
}

#ready-second{
    position: absolute;
    border-left: 4px solid red;
    padding-left: 12px;
    background-image: linear-gradient(24deg, rgb(109 109 109 / 40%), rgb(232 227 226 / 58%), rgb(187 187 187 / 34%), rgb(234 227 227 / 95%));
    height: 165px;
    box-shadow: 3px 1px 5px black;
    width: 217px;
    left: 257px;
}


#ready-image{
    filter: grayscale(1);
    height: 287px;
    width: 350px;
}

#set-image{
    width: 362px;
}

#set-head{
    border-left: 4px solid red;
    padding-left: 12px;
    background-image: linear-gradient(24deg, rgb(146 145 145 / 62%), rgb(232 227 226 / 58%), rgb(187 187 187 / 34%), rgb(173 167 167 / 42%));
    height: 150px;
    box-shadow: 6px 3px 6px black;
    width: 510px;

}

.review-image{
    border-radius: 50%;
}

#review-container{
    background-color: gray;
    position: relative;
    height: 400px;
    width: 230px;
}

#left-arrow{
position: absolute;
height: 55px;
top: 170px;
left: 57px;
}

#right-arrow{
height: 51px;
right: 76px;
top: 167px;
}

#review-background{
    background-color: rgba(232, 232, 232, 1);
    border-radius: 38%;
}

#pushup{
    height: 184px;
    width: 486px;
}

#last-section{
    background-color: rgba(228, 233, 237, 1);
}

footer{
    background-color: rgba(246, 71, 71, 0.4);
}

@keyframes  hello {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
  }

a:hover{
    background: linear-gradient(20deg, rgb(250, 121, 0), rgba(233, 210, 3, 0.952), rgb(236, 100, 58));
    
}

@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }

  #logo:hover{
    color: rgba(0,0,0,0);
}


@keyframes moving-text{
    from{
      top: 92px;
      left: -580px;
    }
    to{
        top: 92px;
        left: 12px;
    }
}

@keyframes  hi {
    0%   { opacity: 0; }
    50% { opacity: 0; }
    80% { opacity: 70%; }
    100% { opacity: 100%; }
  }

@keyframes second-hello{
    0% {opacity: 0;}
    50% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

